In [1]:
import os
import gc
import tqdm
from glob import glob
import pandas as pd
import numpy as np
import cv2
from skimage.io import imread

### load the images

In [2]:
train_images =  glob(os.path.join('data/train', '*', '*'))

In [3]:
train_df = pd.DataFrame({'path': train_images})
camera_model = lambda in_path: in_path.split('/')[2]
train_df["camera_model"] = train_df["path"].map(camera_model)

del train_images
gc.collect()

14

In [4]:
train_df.sample(5)

                                                   path          camera_model
1087               data/train/Motorola-X/(MotoX)151.jpg            Motorola-X
2358                data/train/LG-Nexus-5x/(LG5x)17.jpg           LG-Nexus-5x
2576              data/train/HTC-1-M7/(HTC-1-M7)264.jpg              HTC-1-M7
2404               data/train/LG-Nexus-5x/(LG5x)197.jpg           LG-Nexus-5x
598   data/train/Samsung-Galaxy-Note3/(GalaxyN3)139.jpg  Samsung-Galaxy-Note3

In [5]:
test_images = glob(os.path.join('data/test', '*'))
test_df = pd.DataFrame({"path":test_images})

del test_images
gc.collect()

test_df.head(5)

                              path
0  data/test/img_6e3ad79_manip.tif
1  data/test/img_b591ede_unalt.tif
2  data/test/img_0f07b82_unalt.tif
3  data/test/img_b87210f_manip.tif
4  data/test/img_762228b_manip.tif

#### Read the image and altering
half of the images in the test dataset were manupulated, therefore we are going to manipulate the train dataset as per the following:

            JPEG compression with quality factor = 70
            JPEG compression with quality factor = 90
            resizing (via bicubic interpolation) by a factor of 0.5
            resizing (via bicubic interpolation) by a factor of 0.8
            resizing (via bicubic interpolation) by a factor of 1.5
            resizing (via bicubic interpolation) by a factor of 2.0
            gamma correction using gamma = 0.8
            gamma correction using gamma = 1.2
            
This will generate thousands of training images.

In [9]:
### read the images 
def read_image(image_list):
    return [imread(image) for image in tqdm.tqdm(image_list)]

In [10]:
original_images = read_image(train_df['path'].tolist())

  0%|          | 0/2750 [00:00<?, ?it/s]

In [12]:
print(len(original_images))

4320

#### 1: JPEG compression with quality factor = 70